NEXT_PUBLIC_CONTRACT_ADDRESS=0xE5f2A565Ee0Aa9836B4c80a07C8b32aAd7978e22
NEXT_PUBLIC_SOMNIA_RPC_URL=https://rpc.testnet.somnia.network
NEXT_PUBLIC_SOMNIA_CHAIN_ID=50312
NEXT_PUBLIC_SOMNIA_CHAIN_NAME=Somnia Testnet
NEXT_PUBLIC_SOMNIA_EXPLORER_URL=https://shannon-explorer.somnia.network
NEXT_PUBLIC_SOMNIA_TOKEN_NAME=Somnia
NEXT_PUBLIC_SOMNIA_TOKEN_SYMBOL=SOM
